:root {
  --main-bg-color: #2874f0;
}

.header {
  background-color: var(--main-bg-color);
  color: antiquewhite;
  height: 10vh;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 88px;
  padding: 0 25px;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
}

nav ul li {
  list-style: none;
  padding: 0px 23px;
}

nav ul li a {
  color: antiquewhite;
  text-decoration: none;
}

nav ul li a:hover {
    color: red;
    font-weight: bolder;
  }

  .search{
      height: 4vh;
      
  }

  .searchlogo{
display: flex;
align-items: center;

  }
.container {
  min-height: calc(100vh - 20vh - 10vh);
}
.footer {
  height: 20vh;
  background-color: var(--main-bg-color);
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
